<p>
  <strong><%= comment.name %>:</strong>
  <%= comment.content %>
  <%= link_to 'Delete', blog_comment_path(@blog),
              method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
</p>
